.qa {
    padding: 80px 0;
    @media (max-width: 768px) {
        padding: 40px 0;
    }
}
.qa_inner {
    display: flex;
    gap: 40px;
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}
.q, .a {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc((100% - 40px) / 2);
    align-items: stretch;
    @media (max-width: 768px) {
        max-width: 100%;
    }
    & .title {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Montserrat";  
        font-weight: 700;  
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 20px;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }
    & .list {
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: #ffd7d7;
        padding: 0 30px;
        @media (max-width: 768px) {
            padding: 0 15px;
        }
        & .item {
            padding: 30px 0;
            @media (max-width: 768px) {
                padding: 15px 0;
            }
            &:not(:last-child) {
                border-bottom: 1px solid rgba(255, 53, 53, 0.2);
            }
            & .item-title {
                font-family: "Montserrat";
                font-weight: 700;
                font-size: 16px;
                line-height: 1.4;
                margin-bottom: 10px;
            }
            & .item-text {
                font-family: "Montserrat";
                font-size: 14px;
                line-height: 1.4;
            }
        }
    }
}
.a {
    & .list {
        color: #fff;
        background-color: $primary;
        & .item {
            &:not(:last-child) {
                border-bottom: 1px solid rgba(236, 244, 254, 0.2);
            }
        }
    }
}
